<div class="body">
    <div class="container">
        
        
    
      <div class="">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <div class="card p-0">
              <div class="card-image"> <img
                  src="https://images.pexels.com/photos/2746187/pexels-photo-2746187.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                  alt=""> </div>
              <div class="card-content d-flex flex-column align-items-center">
                <h6 class="pt-2">Card 1</h6>
                <h5>Try to be rainbow in someone else's cloud.</h5>
                <ul class="social-icons d-flex justify-content-center">
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <div class="card p-0">
              <div class="card-image"> <img
                  src="https://images.pexels.com/photos/381843/pexels-photo-381843.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                  alt=""> </div>
              <div class="card-content d-flex flex-column align-items-center">
                <h6 class="pt-2">Card 2</h6>
                <h5>You are enough just as you are.</h5>
                <ul class="social-icons d-flex justify-content-center">
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <div class="card p-0">
              <div class="card-image"> <img
                  src="https://images.pexels.com/photos/139829/pexels-photo-139829.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                  alt=""> </div>
              <div class="card-content d-flex flex-column align-items-center">
                <h6 class="pt-2">Card 3</h6>
                <h5>Don't stop until you are stop.</h5>
                <ul class="social-icons d-flex justify-content-center">
                 
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <div class="card p-0">
              <div class="card-image"> <img
                  src="https://images.pexels.com/photos/2746187/pexels-photo-2746187.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                  alt=""> </div>
              <div class="card-content d-flex flex-column align-items-center">
                <h6 class="pt-2">Card 4</h6>
                <h5>Journey is the reward.</h5>
                <ul class="social-icons d-flex justify-content-center">
                 
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <div class="card p-0">
              <div class="card-image"> <img
                  src="https://images.pexels.com/photos/381843/pexels-photo-381843.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                  alt=""> </div>
              <div class="card-content d-flex flex-column align-items-center">
                <h6 class="pt-2">Card 5</h6>
                <h5>The purpose of our lives is to be happy.</h5>
                <ul class="social-icons d-flex justify-content-center">
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <div class="card p-0">
              <div class="card-image"> <img
                  src="https://images.pexels.com/photos/139829/pexels-photo-139829.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                  alt=""> </div>
              <div class="card-content d-flex flex-column align-items-center">
                <h6 class="pt-2">Card 6</h6>
                <h5>The way I see it,if you want the rainbow,you gotta put up with the rain.</h5>
                <ul class="social-icons d-flex justify-content-center">
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <div class="card p-0">
              <div class="card-image"> <img
                  src="https://images.pexels.com/photos/2746187/pexels-photo-2746187.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                  alt=""> </div>
              <div class="card-content d-flex flex-column align-items-center">
                <h6 class="pt-2">Card 7</h6>
                <h5>When you focus on the good,the good gets better.</h5>
                <ul class="social-icons d-flex justify-content-center">
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <div class="card p-0">
              <div class="card-image"> <img
                  src="https://images.pexels.com/photos/381843/pexels-photo-381843.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                  alt=""> </div>
              <div class="card-content d-flex flex-column align-items-center">
                <h6 class="pt-2">Card 8</h6>
                <h5>Happiness is not by chance,but by choice.</h5>
                <ul class="social-icons d-flex justify-content-center">
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <div class="card p-0">
              <div class="card-image"> <img
                  src="https://images.pexels.com/photos/139829/pexels-photo-139829.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                  alt=""> </div>
              <div class="card-content d-flex flex-column align-items-center">
                <h6 class="pt-2">Card 9</h6>
                <h5>Tomorrow is the first blank page of a 365 page book.Write a good one.</h5>
                <ul class="social-icons d-flex justify-content-center">
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <div class="card p-0">
              <div class="card-image"> <img
                  src="https://images.pexels.com/photos/2746187/pexels-photo-2746187.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                  alt=""> </div>
              <div class="card-content d-flex flex-column align-items-center">
                <h6 class="pt-2">Card 10</h6>
                <h5>It's okay to struggle.It's not okay to give up.</h5>
                <ul class="social-icons d-flex justify-content-center">
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <div class="card p-0">
              <div class="card-image"> <img
                  src="https://images.pexels.com/photos/381843/pexels-photo-381843.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                  alt=""> </div>
              <div class="card-content d-flex flex-column align-items-center">
                <h6 class="pt-2">Card 11</h6>
                <h5>Make everyday a little less ordinary.</h5>
                <ul class="social-icons d-flex justify-content-center">
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <div class="card p-0">
              <div class="card-image"> <img
                  src="https://images.pexels.com/photos/139829/pexels-photo-139829.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                  alt=""> </div>
              <div class="card-content d-flex flex-column align-items-center">
                <h6 class="pt-2">Card 12</h6>
                <h5>I know for sure what we dwell on is who we become.</h5>
                <ul class="social-icons d-flex justify-content-center">
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
     
      


          
        
    </div>


    


</div>



    












        
          
            
    
          
          
            
          
    
        
       

    