<hr class="m-5">
<div class="container-fluid">

  <div class="row">

    <div class="col-sm-12 col-md-4 mb-3" id="logo_div" style="align-content: center; justify-content: center; text-align: center;">
      <h3>ELESA</h3>
      <img [src]="url + 'assets/Images/logo_blue_png.png'" alt="Logo" width="200px">
    </div>

    <div class="col-sm-12 col-md-8" style="align-content: center; justify-content: center; text-align: center; padding-top: 40px;">
      <h2>"The Journey is the reward!"</h2>
      <p>
        This yearbook has been created by ELESA, SKNCOE to remember the forever precious memories created by the students of the college.
      </p>
    </div>

  </div>

</div>