<div class="container">
    <hr class="so large mt-0 mb-5">
    <div class="row">
      <div class="col-7 offset-2">
        <div class="row align-items-end no-gutters">
          <div class="col-md-5">
            <div class="footer-author-image">
              <img src="../../assets/Images/logo_blue_png.png" class="img-fluid" />
            </div>
          </div>
          <div class="col-md-7">
            <div class="footer-author">
              <h2 class="text-uppercase footer-getintouch">Get in touch</h2>
              <div class="footer-author-details">
                <h3 class="mb-0">
                  <a href="#">Team Elesa</a>
                  <a href="#" target="_blank" class="ml-2"><i class="fab fa-linkedin"></i></a>
                </h3>
                <div class="footer-author-contacts d-flex align-items-center">
                  <a class="ml-auto" href="teamelesa@gmail.com" target="_blank">teamelesa@gmail.com</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>