<hr class="m-5">
<div class="container row m-5 mr-0">
  <div class="col-sm-2 mb-3" id="logo_div">
    <h3 class="text-center">ELESA</h3>
    <img src="../../assets/Images/logo_blue_png.png" alt="Logo" height="80%" width="100%">
  </div>

  <div class="col-sm-10 text-center mt-5 pt-5">
    <h2>"The Journey is the reward!"</h2>

    <p>
      This yearbook has been created by ELESA, SKNCOE to remember the forever precious memories created by the students of the college.
    </p>
  </div>

  


</div>