<!--
    
    Dear Future Web Developers, 
        Do not clear out these pages. Arrange the pages in simple format or dedicated parts of the website. 
        We created this website to remember the precious memories for a long time.
        Make sure to allow a litte space on the page for the previous batches on the screen.

        All the Best!

        Yours Truly,
            Web Dev Senior!

 -->

<!-- Background & animion & navbar & title -->

<div class="container-fluid mt-5">

    <div class="wrapper">
            
        <div class="row" style="align-content: center; justify-content: center; text-align: center;">

            <div class="col-xs-10 col-sm-4 col-md-3 col-lg-2 m-2 p-2" ontouchstart="this.classList.toggle('hover');" *ngFor="let mem of core">
                <div class="container">
                    <div class="front"
                        [ngStyle]="{'background': 'url(' + mem.uploadyourphotograph + ') no-repeat center center'}">
                        <div class="inner">
                            <p style="font-size: large;" >{{mem.firstname}} {{ mem.lastname }}</p>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner"style="top: 43%;" >
                            <p style="top: -80%;">{{ mem.describeyourexperiencejourneymemoriesinaquote }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-10 col-sm-4 col-md-3 col-lg-2 m-2 p-2" ontouchstart="this.classList.toggle('hover');" *ngFor="let student of BE_students">
                <div class="container">
                    <div class="front"
                        [ngStyle]="{'background': 'url(' + student.uploadyourphotograph + ') no-repeat center center'}">
                        <div class="inner">
                            <p style="font-size: large;" >{{student.firstname}} {{ student.lastname }}</p>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner"style="top: 43%;" >
                            <p style="top: -80%;">{{ student.describeyourexperiencejourneymemoriesinaquote }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Easy to do responsive carousel -->

        <!-- https://github.com/NickPiscitelli/Glider.js -->

        <div class="bg"></div>
        <div class="bg bg2"></div>
        <div class="bg bg3"></div>

    </div>



<!-- <div class="mx-auto border rounded aboutMeCard"
    style="margin-top: 5%; margin-bottom: 10%; width: 70%; place-content: center;">
    <div class="text-center col-md-12 mt-5" style="height: 50vh; margin-top: 20%; ">
        <h1>
            Seniors
            <br>
            <br>
            The best People the college had!
        </h1>
    </div>
</div> -->