<div class="body">
  <div class="container">

    <div class="">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2" *ngFor="let student of SE_students">
          <div class="card p-0">
            <div class="card-image">
              <img [src]='student.uploadyourphotograph' alt="">
            </div>
            <div class="card-content d-flex flex-column align-items-center">
              <h6 class="pt-2">{{ student.firstname }} {{ student.lastname }}</h6>
              <h5>{{ student.describeyourexperiencejourneymemoriesinaquote }}</h5>
              <ul class="social-icons d-flex justify-content-center"></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>

</div>