@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import './../../styles.scss';
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}


.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    z-index: 5;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #091ba3;
    font-size: 2.5rem;
}

.nav div.logo a img {
    height: 90px;
}

.nav div.logo a:hover {
    color: #091ba3;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #091ba3;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #303d9c;
}


/* Home section */

.homeBanner {
    width: 100%;
    height: 100vh;
    background-image: url(./../../assets/Images/homeBg.jpeg);
    background-position: center top;
	background-size:cover;
}

.homeBanner h1 {
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Lobster', cursive;
    font-size: 13vw;
    text-align: center;
    transform: translateY(62%);
}

.homeBanner h3 {
    color: #091ba3;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    // font-family: 'Lobster', cursive;
    font-size: 5vw;
    text-align: center;
    margin: 0%;
    transform: translateY(180%);
}

.homeBanner p {
    color: rgba(255, 255, 255, 0.60);
    // color: #e6e8fc;
    font-size: 3vw;
    font-family: 'Lobster', cursive;
    text-align: center;
    margin: 0%;
    transform: translateY(220%);
}

.beBanner {
    width: 100%;
    height: 100vh;
    // background-image: url(./../../assets/Images/beBg.jpg);
    background-color: transparent;
    background-position: center top;
	background-size:cover;
}

.teBanner {
    width: 100%;
    height: 100vh;
    // background-image: url(./../../assets/Images/teBg.jpg);
    background-position: center top;
	background-size:cover;
}

.seBanner {
    width: 100%;
    height: 100vh;
    // background-image: url(./../../assets/Images/seBg.jpg);
    background-position: center top;
	background-size:cover;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: transparent;
    color: #fff;
    font-family: -apple-system,BlinkMacSystemFont,'Roboto','Helvetica Neue',Geneva,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",sans-serif,arial,Tahoma,verdana;
    .title {
      display: inline-block;
      transform: skewY(-5deg);
      font-size: calc(90vw / 5);
      white-space: nowrap;
      line-height: 1.15;
    }
    
    .title .-t,
    .title .-b {
      font-size: 25%;
      font-weight: 200;
    }

    .title .-c {
      display: block;
      --gradient: linear-gradient(80deg, #163172, #1e56a0);
      background-image: var(--gradient);
      background-clip: text;
      font-size: 70%;
      /* for stupid WEBKIT -_- */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      /* for stupid WEBKIT -_- */
      color: transparent;
      position: relative;
      text-align: center;
      margin: .05em 0;
      padding: .05em 0;
      font-weight: 900;
      position: relative;
    }
    
    .title .-c::before,
    .title .-c::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-image: var(--gradient), var(--gradient);
      background-repeat: no-repeat;
      background-position: top left, bottom left;
      background-size: auto .05em;
      position: absolute;
      top: 0;
      left: 0;
    }
    
    .title .-c::before {
      filter: blur(5px);
      z-index: 1;
    }
    
    .title .-c::after {
      z-index: 2;
      /* for stupid WEBKIT -_- */
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      filter: blur(.025px);
      /* for stupid WEBKIT -_- */
    }
    
    .title .-b {
      text-align: right;
    }
  }


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .homeBanner {
        height: 50vh;
    }
    
    .beBanner {
        height: 100vh;
    }
    
    .teBanner {
        height: 100vh;
    }
    
    .seBanner {
        height: 100vh;
    }
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        border-radius: 25px;
        width: 100%;
        height: 100vh;
        padding-top: 45px;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: transparent;
        backdrop-filter: blur(20px);
        background-position: center top;
        z-index: 3;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}


.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}






.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
    .nav div.logo a img {
       height: 50px;
    }
	.myP {
		padding:2%;
	}
}
@media all and (max-width:650px){
    .nav div.logo a img {
       height: 20px;
    }
	.homeBanner h1 {
        transform: translateY(200%);
    }
}